@using RealStateApp.Core.Application.ViewModels.SalesType;
@model SalesTypeViewModel;
<style>
    a {
        text-decoration:none;
        color:white;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
</style>
<h1>Lista de tipos de Ventas</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cant. Popiedades</th>
                    <th scope="col"> <a class="btn btn-success" asp-controller="SalesType" asp-action="Create">Nuevo Tipo</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SalesTypeViewModel Tipo in ViewBag.Tipos)
                {
                    <tr>
                        <th scope="row">@Tipo.Id</th>
                        <td>@Tipo.Nombre</td>
                        <td>@Tipo.Descripcion</td>
                        <td>@Tipo.CantPropiedades</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" asp-controller="SalesType" asp-action="Edit" asp-route-id="@Tipo.Id">Editar</a>
                                <a class="btn btn-danger" asp-controller="SalesType" asp-action="Delete" asp-route-id="@Tipo.Id">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>